<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Edit
        </div>
        <div class="card-body">
          <form [formGroup]="editForm" (ngSubmit)="editForm.valid && edit()">
            <div class="form-group mb-2">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                [class.is-invalid]="editForm.controls['username'].touched && editForm.controls['username'].invalid"
                id="username"
                formControlName="username" />
              @if(editForm.controls['username'].errors?.['required']) {
                <div class="invalid-feedback">Username is required</div>
              }
            </div>
            <div class="form-group mb-2">
              <label for="faculty1">Faculty 1</label>
              <select
                class="form-select"
                [class.is-invalid]="editForm.controls['faculty1'].touched && editForm.controls['faculty1'].invalid"
                id="faculty1"
                formControlName="faculty1">
                <option [value]="''">None</option>
                @for (subject of faculty1Subjects; track subject.id) {
                  <option [value]="subject.id">{{ subject.name }}</option>
                }
              </select>
            </div>
            <div class="form-group mb-2">
              <label for="faculty2">Faculty 2</label>
              <select
                class="form-select"
                [class.is-invalid]="editForm.controls['faculty2'].touched && editForm.controls['faculty2'].invalid"
                id="faculty2"
                formControlName="faculty2">
                <option [value]="''">None</option>
                @for (subject of faculty2Subjects; track subject.id) {
                  <option [value]="subject.id">{{ subject.name }}</option>
                }
              </select>
            </div>
            <div class="form-group mb-2">
              <label for="faculty3">Faculty 3</label>
              <select
                class="form-select"
                [class.is-invalid]="editForm.controls['faculty3'].touched && editForm.controls['faculty3'].invalid"
                id="faculty3"
                formControlName="faculty3">
                <option [value]="''">None</option>
                @for (subject of faculty3Subjects; track subject.id) {
                  <option [value]="subject.id">{{ subject.name }}</option>
                }
              </select>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              [class.disabled]="editForm.invalid">Edit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
